{% with title=fire_title %}
    {% include "header.html" %}
{% endwith %}

<h2>Welcome to {{ fire_title }}</h2>
<div class="row">
    <div class="col">
        <p>{{ fire_description }}</p>
        <ul>
            {% for flame in flames %}
                <li><a href="{{ url_for("get_flame",
                        fire_name=fire_name,
                        flame_id=flame["_id"]) }}">{{ flame["title"] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="row form-group">
                <div class="col">{{ form.title.label }}</div>
                <div class="col">{{ form.title }}</div>
            </div>
            <div class="row form-group">
                <div class="col">{{ form.content.label }}</div>
                <div class="col">{{ form.content }}</div>
            </div>
            <div class="row form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>

{% include "footer.html" %}
